@import "../settings.css";

.general-list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  > .item {
    position: relative;
    margin-top: 18px;
    padding-left: 18px;

    &:before {
      content: "";
      display: block;
      position: absolute;
      top: 10px;
      left: 0;
      width: 8px;
      height: 8px;
      border-radius: 100%;
      background-color: $color-5;
    }

    a:before { background-color: $color-5; }
    &.-secondary a:before { background-color: $color-4; }

    &.-secondary:before { background-color: $color-4; }
  }
}
