@import "../settings";

.general-title {
  margin: 0;
  color: $color-2;
  font-weight: 700;
  font-size: 25px;

  > a { color: $color-2; }

  &.-small {
    color: $color-1;
    font-size: 16px;
    > a { color: $color-1; }
  }
}
