@import './settings.css';

.l-wrapper {
  padding: 0 20px;

  @media screen and (width >= $breakpoint-s) {
    padding: 0 40px;
  }

  @media screen and (width >= $breakpoint-l) {
    padding: 0;
    max-width: 680px;
    margin: 0 auto;
  }

  @media screen and (width >= $breakpoint-xl) {
    max-width: 800px;
  }
}

.l-hero {
  @extend .l-wrapper;
  padding-top: 10px;
  padding-bottom: 40px;
  border-bottom: 1px solid $color-2;

  @media screen and (width >= $breakpoint-l) {
    max-width: 760px;
    padding: 10px 40px 40px 40px;
    border-left: 1px solid $color-2;
    border-right: 1px solid $color-2;
  }

  @media screen and (width >= $breakpoint-xl) {
    max-width: 920px;
    padding: 10px 60px 50px 60px;
  }

  > .hero-section {
    margin-top: 50px;
  }
}

.l-content {
  @extend .l-wrapper;
  padding-top: 40px;

  @media screen and (width >= $breakpoint-m) {
    padding-top: 80px;
  }

  @media screen and (width >= $breakpoint-l) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @media screen and (width >= $breakpoint-xl) {
    padding-top: 100px;
  }

  > .recentprojects {
    flex-shrink: 1;
    margin-right: 40px;

    @media screen and (width >= $breakpoint-l) {
      font-size: 14px;
    }

    @media screen and (width >= $breakpoint-xl) {
      margin-right: 80px;
    }
  }

  > .resume {
    display: block;
    position: relative;
    height: 165px;
    width: 100%;
    max-width: 380px;
    margin: 40px auto 0 auto;
    border: 1px solid $color-2;

    &:before { content: none; }

    @media screen and (width >= $breakpoint-l) {
      flex: 1 0 300px;
    }

    @media screen and (width >= $breakpoint-xl) {
      flex: 1 0 380px;
    }

    > .title {
      position: absolute;
      top: 50%;
      left: 20px;
      transform: translate3d(0, -50%, 0);
      width: calc(100% - 40px);
      padding: 10px 0;
      text-align: center;
      text-transform: uppercase;
      font-size: 30px;
      font-weight: 300;
      color: $color-2;
      border-top: 1px solid $color-2;
      border-bottom: 1px solid $color-2;
    }

    > .link {
      position: absolute;
      bottom: 10px;
      width: 100%;
      text-align: center;
      text-transform: lowercase;
      font-size: 25px;
      font-weight: 700;
      color: $color-2;
      transition: transform .5s ease-in-out 0s;
    }

    &:hover > .link {
      transform: translateY(-5px);
    }
  }

}

.l-footer {
  @extend .l-wrapper;
  margin-top: 50px;
  padding-bottom: 17px;

  @media screen and (width >= $breakpoint-m) {
    margin-top: 80px;
    padding-bottom: 30px;
  }

  @media screen and (width >= $breakpoint-xl) {
    margin-top: 120px;
    padding-bottom: 50px;
  }
}
