<!DOCTYPE html>
<html lang="en">
  <title>Clément Prod'homme</title>
  <meta
    name="description"
    content="The personal website of front end engineer Clément Prod'homme"
  />
  <meta
    name="keywords"
    content="clément, clement, prodhomme, prod'homme, prod homme, prudhomme, prud'homme, prud homme, front end, front-end, tech lead, technical lead, engineer, developer, computer science, it, software, datavisualization, datavisualisation, data-visualization, data-visualisation, data visualization, data visualisation, maps, web applications, webapp, spa, javascript, internet, climate, climate change, climate tech, biodiversity, biodiversity loss, environment"
  />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <link as="font" href="/assets/Anaheim-Regular.ttf" rel="preload" />
  <link rel="stylesheet" type="text/css" href="/style.css" />
  <body>
    <div>
      <div class="app">
        <header class="c-app-header" role="banner">
          <h1>Clément Prod'homme</h1>
          <p>
            <a class="-secondary" href="/cv">Download CV</a>
          </p>
        </header>
        <main role="main">
          {{content}}
        </main>
      </div>
    </div>
  </body>
</html>
