<!DOCTYPE html>
<html lang="en">
  <title>Clément Prod'homme | CV</title>
  <meta
    name="description"
    content="The personal website of front end engineer Clément Prod'homme"
  />
  <meta
    name="keywords"
    content="clément, clement, prodhomme, prod'homme, prod homme, prudhomme, prud'homme, prud homme, front end, front-end, engineer, developer, computer science, it, software, datavisualization, datavisualisation, data-visualization, data-visualisation, data visualization, data visualisation, maps, web applications, webapp, spa, javascript, internet, climate, climate change, climate tech, biodiversity, biodiversity loss, environment"
  />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <link as="font" href="/assets/Anaheim-Regular.ttf" rel="preload" />
  <link rel="stylesheet" type="text/css" href="/style.css" />
  <body class="-print">
    <div>
      <div class="app">
        <p class="print-note">
          This page is formatted so that it can be easily printed or exported as a PDF. If exporting,
          make sure to toggle on the setting to include the backgrounds.
        <main role="main">
          {{content}}
        </main>
      </div>
    </div>
  </body>
</html>
